---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Carlos Tarrias
    <div class="pt-2">
      <span>Icons obtained in</span> <a style="text-decoration:underline;color:blue" href="https://icons8.com/icons">Icons8</a>
     </div>
  </div>
  
</footer>
<style></style>
